* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


header {
    background: url("../images/angel-jimenez.jpg") no-repeat center;
    height: 100vh;
    background-size: cover;
    width: 100%;
    color: #fff;
    font-size: 90px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fun{
    display: flex;
    margin: 150px 0px 0px 0px;
    justify-content: space-around;
    
}
.funtext p{
    padding:7px ;
   width: 470px;
   font-size: 20px;
}
.funtext{
    width: 500px;
    padding: 190px 0 0 190px;
}

.degra{
    background:linear-gradient(to right, rgb(180, 22, 88), rgba(0,0,0));
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}
h2{
 
    font-size:40px;
}
.h2t{
    color: #fff;
    font-size:40px;
}

img{
    width: 500px;
    height: 600px;
 
}
.ee{
    width: 500px;
    height: 600px;
    margin: 0 20px 50px 100px;
}
button{
    border-radius: 30px;
    width: 120px;
    height: 50px;
    background: rgb(171, 16, 130);
    color: #fff;
    border: none;
}

.jeje{
    background: url("../images/john-raptis.png") no-repeat center;
}

.fg{
    padding:7px ;
    width: 470px;
    font-size: 20px;
    color: #fff;
}

footer{
    margin: 0;
    color: #fff;
    background: rgb(248, 37, 13);
    padding: 50px;
}
table{
    margin-left: auto;
    margin-right: auto;
}
td,th{
    padding-left: 80px;
    padding-right: 80px;
}
.titu td{
    padding-bottom: 40px;
    padding-top: 40px;
}
td{
    padding-top: 10px;
    padding-bottom: 10px;
}
hr{
    margin-top: 70px;
}
footer p{
    padding: 20px;
}